<% if shop.favorited_by?(current_user) %>
  <p>
    <%= link_to shop_favorites_path(shop), method: :delete, remote: true do %>
      ❤
    <% end %>
    ️️いいね <%= shop.favorites.count %>
  </p>
<% else %>
  <p>
    <%=link_to shop_favorites_path(shop), method: :post, remote: true do %>
      🤍
    <% end %>
    いいね <%= shop.favorites.count %>
  </p>
<% end %>