<div class="container-fluid">
  <div class="top row">
    <div class='mx-auto col-12 col-sm-10 col-lg-8 col-xl-6'>
      <h1 class="text-center mt-5"><strong>SMOKERS</strong></h1>
      <p class="text-center">Connect With Trust</p>
      <p class="text-center">Providing you a third place to stay</p>
      <div class="btn-wrapper col-4 mx-auto mt-5">
        <div class="row">
          <%= link_to ' Log in',new_user_session_path, class: "fas fa-sign-in-alt btn btn-outline-dark btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to ' Sign Up',new_user_registration_path, class: "fas fa-user-plus btn btn-outline-dark btn-sm btn-block sign_up" %>
        </div>
      </div>
    </div>
  </div>
</div>